/*****************************************************/
/*****************************************************/
/****************** HOJA DE ESTILOS ******************/
/*****************************************************/
/*****************************************************/

body {
	font-family: calibri;
}


/* Títulos H1 (Títulos Principales #) */
h1 {
	margin: 5px;
	padding: 5px;
	font-size: 35px;
	font-weight: bold;
}


/* Títulos H2 (Subtítulo ##) */
h2 {
	color: purple;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}


/* Títulos H3 (Subapartados ###) */
h3 {
	font-style: italic;
}


/* El contenedor con semántica header no se comporta como 
el contenedor footer en markdown, por eso implemento el
logo del centro en cada página deseada */

/* La configuración markdown-pdf: Header Template no facilita
la incorporación de imágenes desde la carpeta local */

/* Contenedor Logo IES */
.logo-ies {
	width: 90px;
	position: fixed;	/* Fija la posición de los logos en cada una de las páginas deseadas */
	top: 0;
	right: 20px;
}

	/* Imagen Logo IES */
	.logo-ies img {
		width: 100%;
	}


/* Sección Prácticas */
#subapartados {
	width: 80%;
	height: 80vh;
	padding: 5px 20px;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	background: linear-gradient(to right, rgba(227, 250, 233, 0.7), white);
	border-radius: 10px;
	box-sizing: border-box;
}

	/* Títulos Subapartados - Sección Prácticas */
	.titulos-subapartados {
		width: 100%;
		margin: 50px 10px 20px 10px;
		padding: 0 20px 0 20px;
		font-size: 50px;
		font-weight: bold;
		color: green;
	}

	/* Textos Subapartados - Sección Prácticas */
	.texto-subapartados {
		width: 100%;
		margin: 10px 10px 30px 10px;
		padding: 0 20px 0 20px;
		font-size: 30px;
		font-weight: bold;
		color: black;
	}


/* Lista del Índice */
ul {
	padding: 10px 40px;
	font-size: 20px;
	color: blue;
}

	/* Elementos Lista del Índice */
	li {
		list-style: upper-roman;
		padding: 10px;
	}

		/* Subelementos Lista del Índice */
		li li {
			list-style: square;
			padding: 5px;
			font-style: italic;
		}


/* La inclusión de contenedores con semántica footer
permite en Markdown que esta se implemente en todas las páginas */
footer {
	margin-bottom: -30px;
	padding: 0;
	position: fixed;
	bottom: 0;
	right: 20px;
	font-size: 20px;
	font-style: italic;
	color: grey;
}


/* Lista Ordenada */
ol {
	padding: 15px 40px;
	font-size: 20px;
	font-weight: bold;
}

	/* Elementos Lista Ordenada */
	ol li {
		padding: 10px;
	}

		/* Subelementos Lista Ordenada */
		ol li ol li {
			list-style: circle;
			padding: 5px;
		}



/* CONTENEDORES CON IMÁGENES */
.imagenes {
	position: relative;
	display: flex;
	justify-content: center;
}


/* Números de las Imágenes */
.num-romano {
	width: 32px;
	height: 32px;
	background-color: rgba(29, 140, 219, 0.8);
	color: white;
	text-shadow: 2px 2px 3px black;
	border-radius: 5px;
	box-shadow: 2px 2px 2px black;
	position: absolute;
	top: 2px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}




/* --- AÑADIR / RESTAR MÁRGENES --- */

.margen-superior {
	margin-top: 50px;
}


.margen-superior-restar {
	margin: -20px;
}



/* ----- SPANs ----- */

.red {
	color: red;
	font-style: italic;
}

.green {
	color: green;
	font-style: italic;
}

.blue {
	color: blue;
	font-style: italic;
}

.purple {
	color: purple;
	font-style: italic;
}

.subrayado {
	text-decoration: underline;
}

.cursiva {
	font-style: italic;
}